:root {
    // Colors
    --background: #F5F6FF;
    --primary: #2C38E1;
    --secondary: #5E69F8;
    --header: #2D2D2D;
    --text: #686868;
    --white: #FFFFFF;
}

body {
    background-color: var(--background);
    color: var(--text);
}

h1, h2, h3, h4 {
    color: var(--header);
}

.home {
    display: flex;

    .homeContainer {
        background-color: var(--white);
    }
}

.logo {
    color: var(--primary);
}