:root {
    // Colors
    --background: #F5F6FF;
    --primary: #2C38E1;
    --secondary: #5E69F8;
    --yellow: #E1D52D;
    --red: #E12D39;
    --green: #39E12D;
    --header: #2D2D2D;
    --text: #686868;
    --white: #FFFFFF;

    // Font size
    --links-font-size: 12px;
    --text-font-size: 20px;
}

body {
    background-color: var(--white);
    color: var(--text);
}

h1,
h2,
h3,
h4 {
    color: var(--header);
}

.home {
    display: flex;
    padding: 20px;

    .homeContainer {
        border-radius: 20px;
        padding: 20px;
        background-color: var(--background);
        box-shadow: 4px 4px 10px -6px rgba(44, 56, 225, 0.16);
        flex: 6;
    }
}