.sidebar {
    flex: 2;
    margin-right: 20px;
    min-height: 100vh;

    .top {
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;

        .logo {
            color: var(--primary);
            font-size: 20px;
            font-weight: bold;
        }
    }

    .center {
        ul {
            list-style: none;
            padding: 0;
            margin: 0;

            .title {
                color: var(--header);
                font-size: 12px;
                font-weight: bold;
                margin-top: 10px;
                margin-bottom: 5px;
            } 

            li {
                display: flex;
                align-items: center;
                padding-left: 5px;
                cursor: pointer;
            }
        }
        span {
            padding-left: 5px;
            padding-top: 5px;
        }
    }

    .icon {
        color: var(--secondary);
    }
}